<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"> -->
</head>
<body>
	<div class="container">
	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <h1 class="text-center">Machine Learning Spam Detection Flask App</h1>
	   </div>
	</div>

	
		<form action="{{ url_for('predict')}}" method="POST">
		<!-- <input type="text" name="comment"/> -->
		 <div class="form-group">
		  <label for="comment">Enter Your Message Here:</label>
		  <textarea class="form-control" rows="5" id="comment" name="message"></textarea>
		</div> 
		<!-- <textarea name="message" rows="4" cols="50"></textarea> -->
		<input type="submit" class="btn btn-block btn-primary" value="Predict">
		</form>
		
	</div>
</body>
</html>
